version: 2
jobs:
  build:
    docker:
      - image: gcr.io/kubernetes-charts-ci/test-image:v3.0.0
    steps:
      - checkout
      - run:
          name: lint
          command: |
            git remote add storageos https://github.com/storageos/charts
            git fetch storageos helm2
            ct lint --config test/ct.yaml

  deploy:
    docker:
      - image: gcr.io/kubernetes-charts-ci/test-image:v2.0.5
    steps:
      - checkout
      - run: test/repo-sync.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
