# Default values for storageoscluster-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: storageos/cluster-operator
  tag: v0.0.11
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: storageoscluster-operator-sa

podSecurityPolicy:
  enabled: false
  annotations: {}
    ## Specify pod annotations
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#apparmor
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#sysctl
    ##
    # seccomp.security.alpha.kubernetes.io/allowedProfileNames: '*'
    # seccomp.security.alpha.kubernetes.io/defaultProfileName: 'docker/default'
    # apparmor.security.beta.kubernetes.io/defaultProfileName: 'runtime/default'
